<md-dialog class="request-reply" aria-label="New Request">
    <form name="requestForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{vm.title}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <div flex flex="100" layout="row" layout-align="space-between start ">
                <md-list flex>
                    <md-list-item ng-repeat="email in vm.requestForm.requestEmail">
                        <div layout="column" layout-align="start start" flex class="info">
                            <div class="title text ">{{email.subject}} </div>
                            <ng-bind-html class="notes text " ng-bind-html="email.message">
                            </ng-bind-html>
                            
                        </div>
                        <p></p>
                        <md-divider></md-divider>
                    </md-list-item>                   
                </md-list>
            </div>
        </md-dialog-content>

        <!-- <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
            </div>
            <div layout="row">                
                <md-button type="submit" ng-click="vm.saveEmail(vm.emailForm)" class="send-button md-accent md-raised" ng-disabled="requestForm.$invalid || requestForm.$pristine"
                    aria-label="Saxla">
                    Göndər
                </md-button>
            </div>
        </md-dialog-actions> -->
    </form>
</md-dialog>