#task {
    .cover{
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        height:100%;
        width:100%;
        z-index: 998;
        background: rgba(107, 24, 24, 0.15);
        .close-button{
            top: 10px;
            right: 5px;
        }
    }
    position: relative;
    .rotate-180 md-icon{
        transition: all 0.3s ease-in-out 0s; 
    }
   
    md-list {
        padding: 8px;
    }
    // .task-sidebar{
    //     margin: 8px 0px;
    //     height: 100%;
    // }
    .main-container{
        height: 100%;
        // position: absolute;
        width: 100%;
        md-card{
            margin: 0px;
        }
    }
    .rotate-180:hover {
        md-icon{
            transform: rotate(180deg);
            transition: all 0.3s ease-in-out 0s;
        }
    }
     .header {
        height: 76px;
        min-height: 76px;
        max-height: 76px;

        .logo {

            .logo-icon {
                margin: 0 16px 0 0;
            }

            .logo-text {
                font-size: 24px;
            }
        }

        md-icon {
            color: #FFFFFF;
        }

        

        &.selected-bar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 999;
            background-image: none;
            opacity: 1 !important;

            .close-button-wrapper {
                width: 244px;
            }
        }
    }
    .content-holder{
        position: relative
    }
    > .contents {
        background: none;
        padding: 0;
        position: absolute;
        top:0px;// 70px;
        bottom: 0;
        left: 0;
        right: 0;
        > md-tabs {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            > md-tabs-wrapper {
                background: #FFFFFF;
                box-shadow: $whiteframe-shadow-1dp;
                padding: 0 24px;

                md-tabs-canvas {
                    height: 56px;

                    md-pagination-wrapper {
                        height: 56px;
                    }

                    .md-tab {
                        padding: 16px 24px;
                        text-transform: none;
                    }
                }
            }

            &:not(.md-dynamic-height) {

                md-tabs-content-wrapper {
                    top: 56px;
                }
            }

            > md-tabs-content-wrapper {

                md-tab-content {
                    padding: 12px;
                }
            }
        }
    md-tab-content{
           overflow: hidden;
        //    position: absolute;
        //    top: 0;
        //    bottom: 0;
        //    left: 0;
        //    right: 0;
        //    overflow: scroll;
        > div {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        //    overflow: scroll;
        }
       } 
    .pos-relative {
        position: relative;
    }    
     .content {
        position: absolute;
        // top: 76px;
        bottom: 0;
        right: 0;
        left: 0;
        top: 3px;//8px;
        .md-subheader-inner{
            padding:3px;
            
            .div-button{
                i{
                    margin-top: -3px
                }
                cursor: pointer;
                font-weight: normal;
                color:#787878;
                font-size: 14px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .selected-filter{
                color:rgb(3,155,229);
            }
            .date{
                margin-left: 10px;
            }
            md-autocomplete-wrap {
                 width: 120px; 
            }
            md-autocomplete {
                min-width: 120px; 
                .md-input-invalid
                {
                    label,.md-input {
                        color: rgba(0,0,0,0.38);
                        border-color: rgba(0,0,0,0.38);
                    }
                }
           }
           
            .autocomplete-div{
                width: 130px;
                color: rgba(0,0,0,0.38);
                border-color: rgba(0,0,0,0.38);
            }
          
        }
        .loadmore p{
            text-align: center;
        }
        > md-sidenav {
            box-shadow: $whiteframe-shadow-1dp;
            padding: 0;
        }

        .main {
            padding: 0px 10px 0 4px;
            // position: absolute;
            // top: 0;
            // // width: 100%;
            // left: 10px;
            // right: 0;
            // bottom: 0;
            .search-input-wrapper {
            position: relative;

            label {
                padding-right: 4px;
                cursor: pointer;

                md-icon {
                 //   color: rgba(255, 255, 255, 0.8);
                }

            }

            md-input-container {

                .md-errors-spacer {
                    display: none;
                }

                input {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
                   // color: rgba(255, 255, 255, 0.8);
                    width: 240px;

                    &::placeholder {
                      //  color: rgba(255, 255, 255, 0.8);
                    }

                    &:focus {
                        border-bottom: 1px solid white;
                      //  color: white;
                    }
                }
            }
        }
            md-list {
                padding: 0px 0px 8px 0px;
            }
           .task-list {
                md-icon{
                    // color: #32c1ff;
                    transition:  color 350ms ease-in-out;;      
                    line-height: 20px;
                    font-size: 22px;
                }
                .margin-right-5{
                    margin-right:5px;
                }
                span{
                    text-align: center;
                }
                padding-bottom: 2px; 
                .info {
                    line-height: 20px;
                   
                    .title {
                        font-weight: 500;
                        font-size: 16px;
                    }
                    .notes {
                        font-size:14px;
                    }
                }
            }

            .task-list.ng-enter, .task-sidebar.ng-enter
           .task-list.ng-leave,  .task-sidebar.ng-leave
           .task-list.ng-move, .task-sidebar.ng-move {
            -webkit-transition: 0.5s linear all;
            transition: 0.5s linear all;
            position:relative;
            }

           .task-list.ng-enter,.task-sidebar.ng-enter {
            top:-20px;
            opacity:0;
            }
           .task-list.ng-enter.ng-enter-active,.task-sidebar.ng-enter.ng-enter-active  {
            top:0;
            opacity:1;
            }

           .task-list.ng-leave,.task-sidebar.ng-leave {
            top:0;
            opacity:1;
            }
           .task-list.ng-leave.ng-leave-active,   .task-sidebar.ng-leave.ng-leave-active {
            top:-20px;
            opacity:0;
            }

           .task-list.ng-move,.task-sidebar.ng-move {
            opacity:0.5;
            }
           .task-list.ng-move.ng-move-active,.task-sidebar.ng-move.ng-move-active {
            opacity:1;
            }
            .selected {
               border-top: 1px solid;
               border-bottom: 1px solid;
               -webkit-animation: .5s ease-out ItemRow-focusGlow;
               animation: .5s ease-out ItemRow-focusGlow;
               background-color: #fff;
               border-color: #14aaf5;
               box-shadow: inset 0 2px 5px -1px #e0e6e8
               
            //   >div>button {
            //         background: rgba(45, 50, 62, 0.22);
            //    }
            }
            .warning>div {
              background: linear-gradient(to right, rgba(255,0,0,0.3), rgba(255,0,0,0));
                
             //   >div>button {
             //         background: rgba(45, 50, 62, 0.22);
             //    }
             }
            .contacts-list {
                // position: relative;
                // padding-bottom: 2px; 
                md-checkbox{
                    margin-top: 16px;
                }        
                .animate-down{
                    transition: all linear 0.5s;
                    opacity: 0;
                }
                .ng-show{
                    opacity: 1;
                }
                .md-subheader {
                    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
                    background-image: url('/assets/images/backgrounds/header-bg.png');
                    background-size: cover;
                    // background-color: rgb(3,155,229);
                    color: rgba(255,255,255,1);

                    .md-subheader-inner {
                        padding: 0px 16px;
                        height: 55px;
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                        justify-content: center;
                        .md-button{
                            color: black;
                        }
                        .md-icon-button-pointer{
                            cursor: pointer;
                        }

                        md-input-container {
                            
                            .md-errors-spacer {
                                display: none;
                            }
            
                            // input {
                            //     border-bottom: 1px solid rgba(255, 255, 255, 0.8);
                            //     // color: rgba(255, 255, 255, 0.8);
                            //     width: 240px;
            
                            //     &::placeholder {
                            //         //  color: rgba(255, 255, 255, 0.8);
                            //     }
            
                            //     &:focus {
                            //         border-bottom: 1px solid white;
                            //         //  color: white;
                            //     }
                            // }
                        }
                    }

                    .contacts-count {
                        padding-left: 4px;
                    }

                    .list-title {
                        margin-right: 4px;
                    }

                    .edit-group-form {

                        .editable-controls {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-start;

                            .editable-input {
                                border: 1px solid rgba(0, 0, 0, 0.2);
                                padding: 4px 6px;
                                margin-right: 6px;
                                font-size: 13px;
                            }

                            .editable-buttons {

                            }
                        }

                        .edit-group-button {
                            margin: 0;
                        }

                        .md-button {
                            margin: 0;
                            margin: 0;
                            padding: 0;
                            height: 32px;
                            min-height: 32px;
                            line-height: 32px;
                            width: 32px;
                        }
                    }
                }

                #custom-subheader {
                    background: white;
                    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
                    .md-subheader-inner{
                        display: block;
                        padding: 0 16px;
                        color: rgba(0,0,0,0.4);
                        box-shadow: 0px 2px 5px;
                    }
                    ._md-subheader-inner {
                        padding: 16px;
                    }

                    .contacts-count {
                        padding-left: 4px;
                    }

                    .list-title {
                        margin-right: 4px;
                    }

                    .edit-group-form {

                        .editable-controls {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-start;

                            .editable-input {
                                border: 1px solid rgba(0, 0, 0, 0.2);
                                padding: 4px 6px;
                                margin-right: 6px;
                                font-size: 13px;
                            }

                            .editable-buttons {

                            }
                        }

                        .edit-group-button {
                            margin: 0;
                        }

                        .md-button {
                            margin: 0;
                            margin: 0;
                            padding: 0;
                            height: 32px;
                            min-height: 32px;
                            line-height: 32px;
                            width: 32px;
                        }
                    }
                }

                .contact-item {
                    position: absolute;
                    right: 0;
                    left: 0;
                    width: 100%;
                    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
                    background: white;
                    transition: transform 200ms ease-out;
                    will-change: transform;

                    &:last-of-type {
                        margin-bottom: 24px;
                    }

                    &.ng-leave {
                        transform: translateY(0);
                        display: none;

                        &.ng-leave-active {
                            transform: translateY(-100%);
                        }
                    }

                    &.ng-hide {
                        display: none;
                    }

                    &.ng-hide-add-active,
                    &.ng-hide-remove-active {
                        display: block;
                        transition-property: all;
                    }
                }
            }

            .no-results {
                box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
            }
        }
    }
    .status_1{
        color: rgb(103,58,183);
        @extend .icon-checkbox-blank-circle-outline
    }
    .status_2{
        color: rgb(103,58,183); //rgb(156,39,176);
        @extend .icon-check-circle;
    }
    .status_3{
        color: rgb(76,175,80);
        @extend .icon-checkbox-marked-circle;
    }
    .status_4{
       @extend .icon-close-circle-outline;
    }
    .status_5{
      @extend  .icon-arrow-right-bold-circle-outline;
      color:rgb(255,152,0);

    }
    .status_6{
        @extend  .icon-backup-restore;
        color:rgb(76, 0, 255);
  
      }
}
    #add-task-button {
        position: fixed;
        bottom: 8px;
        right: 8px;
        padding: 0;
    }
}
.md-sidenav-push-in {
    // drawers
    .md-sidenav-push-in-target {
        transform: translate(0px);
        // same as in md-sidenav.md-closed-add.md-closed-add-active, md-sidenav.md-closed-remove.md-closed-remove-active selector
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    &.md-sidenav-left-open {
        .md-sidenav-push-in-target {
            transform: translate(304px);
        }
    }
    &.md-sidenav-right-open {
        .md-sidenav-push-in-target {
            transform: translate(-304px);
        }
    }
    
}
// RESPONSIVE
@media screen and (min-width: $layout-breakpoint-md) {

    #request {

         .content {

            .main {
                // left: 268px;
            }
        }
    }
}
.md-button.md-fab.md-fab-bottom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
position: fixed !important;
}