<md-dialog class="request-email" aria-label="New Request">
    <form name="requestForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{vm.title}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <md-list>
                <md-list-item class="hasMainTask">
                    <div flex layout="column" layout-align="start start" >
                        <div flex>
                            <ng-bind-html ng-bind-html="vm.requestForm.text">
                            </ng-bind-html>
                        </div>
                    </div>
                </md-list-item>
            </md-list>           
            <div flex flex="100" layout="row" layout-align="space-between start ">
                <md-input-container  flex="45">
                    <label>To</label>
                    <input type="email" ng-disabled="true" required name="to" ng-model="vm.emailForm.email">
                </md-input-container>
                <md-input-container flex="45">
                    <label>Subject</label>
                    <input required type="text" name="subject" ng-model="vm.emailForm.subject">
                </md-input-container>
            </div>


            <div class="notes">
                <label>Qeyd</label>
                <text-angular ng-model="vm.emailForm.message"></text-angular>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
            </div>
            <div layout="row">
                <md-button type="submit" ng-click="vm.saveEmail(vm.emailForm)" class="send-button md-accent md-raised" ng-disabled="requestForm.$invalid || requestForm.$pristine"
                    aria-label="Saxla">
                    Göndər
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>