<md-dialog class="request-dialog" aria-label="New Request">
    <form autocomplete="off" name="requestForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{vm.title}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ng-if="vm.sourceType.id == 1 || vm.sourceType.id == 2">
            <div flex flex="100" layout="row" layout-align="space-between start ">
                <md-menu flex layout-align="center center" layout="row" class="title text text-truncate">
                    <md-input-container flex="100" ng-click="$mdOpenMenu($event)">
                        <label>Haradan</label>
                        <input required type="text" name="fromType" ng-model="vm.fromName">
                    </md-input-container>
                    <md-menu-content style="position:relative" width="3">
                        <md-list flex>
                            <div ng-repeat="department in vm.departmentList.departments">
                                <md-list-item style="margin-left: 10px;">
                                    <span ng-click="vm.mouseupEvent($event, department.childDepartments.length, department,department.childDepartments)">
                                        {{department.name}}</span>
                                    <i ng-mouseup="vm.mouseupEventShow($event, department.childDepartments.length, department.id,  department.name)"
                                        class="icon icon-chevron-down" ng-if="department.childDepartments.length>0"></i>
                                </md-list-item>
                                <div ng-repeat="childDepartment in department.childDepartments">
                                    <md-list-item style="margin-left: 30px; min-height: 28px;height:28px;" ng-if="vm.isDepartmentChildShown[department.id]">

                                        <span ng-click="vm.mouseupEvent($event, childDepartment.childDepartments.length, childDepartment,childDepartment.childDepartments)">
                                            {{childDepartment.name}}</span>
                                        <i ng-mouseup="vm.mouseupEventShow($event, childDepartment.childDepartments.length, childDepartment.id,  childDepartment.name)"
                                            class="icon icon-chevron-down" ng-if="childDepartment.childDepartments.length>0"></i>
                                    </md-list-item>
                                    <div ng-repeat="subChildDepartment in childDepartment.childDepartments">
                                        <md-list-item style="margin-left: 50px; min-height: 28px;height:28px;" ng-if="vm.isDepartmentChildShown[childDepartment.id]">
                                            <span ng-click="vm.mouseupEvent($event, subChildDepartment.childDepartments.length, subChildDepartment,subChildDepartment.childDepartments)">
                                                {{subChildDepartment.name}}</span>
                                            <i ng-mouseup="vm.mouseupEventShow($event, subChildDepartment.childDepartments.length, subChildDepartment.id,  subChildDepartment.name)"
                                                class="icon icon-chevron-down" ng-if="subChildDepartment.childDepartments.length>0"></i>
                                        </md-list-item>
                                        <div ng-repeat="subSubChildDepartment in subChildDepartment.childDepartments">
                                            <md-list-item style="margin-left: 50px; min-height: 28px;height:28px;"
                                                ng-if="vm.isDepartmentChildShown[subChildDepartment.id]">
                                                <span ng-click="vm.mouseupEvent($event, subSubChildDepartment.childDepartments.length, subSubChildDepartment,subSubChildDepartment.childDepartments)">
                                                    {{subSubChildDepartment.name}}</span>
                                                <i ng-mouseup="vm.mouseupEventShow($event, subSubChildDepartment.childDepartments.length, subSubChildDepartment.id,  subSubChildDepartment.name)"
                                                    class="icon icon-chevron-down" ng-if="subSubChildDepartment.childDepartments.length>0"></i>
                                            </md-list-item>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </md-list>
                    </md-menu-content>
                </md-menu>
                <md-input-container flex="45">
                    <label>Telefon Nömrəsi</label>
                    <input required pattern="\d*" maxlength="9" minlength="{{vm.sourceType.id == 1?3:9}}" autocomplete="off"
                        ng-change="vm.numberBlur(vm.requestForm.customerNumber)" name="customerNumber" ng-model="vm.requestForm.customerNumber">
                </md-input-container>
            </div>
            <div flex flex="100" layout="row" layout-align="space-between start ">
                <md-input-container flex="45">
                    <label>Müraciət edən</label>
                    <input required type="text" name="customerName" ng-model="vm.requestForm.customerName">
                </md-input-container>
                <md-input-container flex="45">
                    <label>Əlaqə nömrəsi</label>
                    <input type="text" name="contactNumber" ng-model="vm.requestForm.contactNumber">
                </md-input-container>
            </div>
            <div flex flex="100" layout="row" layout-align="space-between start ">
                <md-input-container flex="45">
                    <label>{{vm.typeRequest.name}}</label>
                    <md-select ms-scroll ng-change="vm.changeTypeRequest(vm.requestForm.customerRequestTypeId)" flex
                        required ng-model="vm.requestForm.customerRequestTypeId">
                        <md-option ng-repeat="type in vm.requestTypesFilter "
                            value="{{type.id}}">
                            {{type.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div flex="45" layout="row" layout-align="space-between start" class="date-container">
                    <label class="info-color" flex="40">Tarix/Vaxt</label>
                    <input required flex="60" mdc-datetime-picker date="true" class="md-input" time="true" type="text"
                        id="time" placeholder="Vaxt" show-todays-date format="DD.MM.YYYY HH:mm" ng-model="vm.requestForm.startDate">
                </div>
            </div>
            <div class="notes">
                <label>Qeyd</label>
                <text-angular ng-model="vm.requestForm.text"></text-angular>
            </div>
        </md-dialog-content>

        <md-dialog-content ng-if="vm.sourceType.id == 3">
            <div flex flex="100" layout="row" layout-align="space-between start ">

                <md-input-container flex="30">
                    <label>Tərəfin növü</label>
                    <md-select ms-scroll flex
                        required ng-model="vm.requestForm.customerParentRequestTypeId">
                        <md-option ng-repeat="type in vm.requestTypesFilter  | filter : (vm.typeRequest.status?{parentRequestTypeId:null,sourceTypeId:vm.sourceType.id}:{})  "
                            value="{{type.id}}">
                            {{type.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="30">
                    <label>Tələb</label>
                    <md-select ms-scroll flex
                        required ng-model="vm.requestForm.customerRequestTypeId">
                        <md-option ng-repeat="type in (vm.requestTypesFilter | filter: { id: vm.requestForm.customerParentRequestTypeId })[0].childRequestTypes"
                            value="{{type.id}}">
                            {{type.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div flex="30" layout="row" layout-align="space-between start" class="date-container">
                    <label class="info-color" flex="40">Tarix/Vaxt</label>
                    <input required flex="60" mdc-datetime-picker date="true" class="md-input" time="false" type="text"
                        id="time" placeholder="Vaxt" show-todays-date format="DD.MM.YYYY" ng-model="vm.requestForm.startDate">
                </div>
            </div>
            <div flex flex="100" layout="row" layout-align="space-between start ">
                <md-menu flex layout-align="center center" layout="row" class="title text text-truncate">
                    <md-input-container flex="100" ng-click="$mdOpenMenu($event)">
                        <label>{{ vm.requestForm.placeHolder.from||"Aztelekom tərəfdən"}}</label>
                        <input required type="text" name="fromType" ng-model="vm.fromName">
                    </md-input-container>
                    <md-menu-content style="position:relative" width="3">
                        <md-list flex>
                            <div ng-repeat="department in vm.departmentList.departments" ng-if="department.alias == 'tkq' || department.alias == 'aztelekom'">
                                <md-list-item style="margin-left: 10px;">
                                    <span ng-click="vm.mouseupEvent($event, department.childDepartments.length, department,department.childDepartments)">
                                        {{department.name}}</span>
                                    <i ng-mouseup="vm.mouseupEventShow($event, department.childDepartments.length, department.id,  department.name)"
                                        class="icon icon-chevron-down" ng-if="department.childDepartments.length>0"></i>
                                </md-list-item>
                                <div ng-repeat="childDepartment in department.childDepartments">
                                    <md-list-item style="margin-left: 30px; min-height: 28px;height:28px;" ng-if="vm.isDepartmentChildShown[department.id]">

                                        <span ng-click="vm.mouseupEvent($event, childDepartment.childDepartments.length, childDepartment,childDepartment.childDepartments)">
                                            {{childDepartment.name}}</span>
                                        <i ng-mouseup="vm.mouseupEventShow($event, childDepartment.childDepartments.length, childDepartment.id,  childDepartment.name)"
                                            class="icon icon-chevron-down" ng-if="childDepartment.childDepartments.length>0"></i>
                                    </md-list-item>
                                    <div ng-repeat="subChildDepartment in childDepartment.childDepartments">
                                        <md-list-item style="margin-left: 50px; min-height: 28px;height:28px;" ng-if="vm.isDepartmentChildShown[childDepartment.id]">
                                            <span ng-click="vm.mouseupEvent($event, subChildDepartment.childDepartments.length, subChildDepartment,subChildDepartment.childDepartments)">
                                                {{subChildDepartment.name}}</span>
                                            <i ng-mouseup="vm.mouseupEventShow($event, subChildDepartment.childDepartments.length, subChildDepartment.id,  subChildDepartment.name)"
                                                class="icon icon-chevron-down" ng-if="subChildDepartment.childDepartments.length>0"></i>
                                        </md-list-item>
                                        <div ng-repeat="subSubChildDepartment in subChildDepartment.childDepartments">
                                            <md-list-item style="margin-left: 50px; min-height: 28px;height:28px;"
                                                ng-if="vm.isDepartmentChildShown[subChildDepartment.id]">
                                                <span ng-click="vm.mouseupEvent($event, subSubChildDepartment.childDepartments.length, subSubChildDepartment,subSubChildDepartment.childDepartments)">
                                                    {{subSubChildDepartment.name}}</span>
                                                <i ng-mouseup="vm.mouseupEventShow($event, subSubChildDepartment.childDepartments.length, subSubChildDepartment.id,  subSubChildDepartment.name)"
                                                    class="icon icon-chevron-down" ng-if="subSubChildDepartment.childDepartments.length>0"></i>
                                            </md-list-item>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </md-list>
                    </md-menu-content>
                </md-menu>
                <md-input-container flex="45">
                    <label>İcraçının əlaqə nömrəsi</label>
                    <input required pattern="\d*" maxlength="9" minlength="{{vm.sourceType.id == 1?3:9}}" autocomplete="off"
                        ng-change="vm.numberBlur(vm.requestForm.customerNumber)" name="customerNumber" ng-model="vm.requestForm.customerNumber">
                </md-input-container>
            </div>
            <div flex flex="100" layout="row" layout-align="space-between start ">
                <md-input-container flex="45">
                    <label>Qarşı tərəf</label>
                    <input required type="text" name="customerName" ng-model="vm.requestForm.customerName">
                </md-input-container>
                <md-input-container flex="45">
                    <label>Əlaqə nömrəsi</label>
                    <input type="text" name="contactNumber" ng-model="vm.requestForm.contactNumber">
                </md-input-container>
            </div>
            <div class="notes">
                <label>Qeyd</label>
                <text-angular ng-model="vm.requestForm.text"></text-angular>
            </div>
            <div class="attachment-list">
                <div class="attachment" layout="row" layout-align="space-between center" ng-repeat="attachment in vm.requestForm.attachment">
                    <div>
                        <span class="filename">{{attachment.description}}</span>
                        <span class="size">{{attachment.createdDate}}</span>
                    </div>
                    <md-button ng-click="vm.removeFile($index)" class="md-icon-button">
                        <md-icon md-font-icon="icon-close" aria-label="delete attachment" class="s16"></md-icon>
                    </md-button>
                </div>
                <div ng-show="vm.requestForm.isProgress" class="attachment" layout="row" layout-align="space-between center">
                    <div>
                        <span class="filename">file upload on progressing</span>
                        <span class="size">please wait...</span>
                    </div>
                    <md-button ng-click="vm.removeFile($index)" class="md-icon-button">
                        <md-icon md-font-icon="icon-close" aria-label="delete attachment" class="s16"></md-icon>
                    </md-button>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-content ng-if="vm.sourceType.id == 4">
            <div flex flex="100" layout="row" layout-align="space-between start ">              
                    <md-input-container aria-disabled="true"  layout-align="center center" layout="row"  flex="45" ng-click="$mdOpenMenu($event)">
                        <label>Haradan</label>
                        <input readonly required type="text" name="fromType" ng-model="vm.fromName">
                    </md-input-container> 
                <md-input-container flex="45">
                    <label>Telefon Nömrəsi</label>
                    <input required pattern="\d*" maxlength="9" minlength="{{vm.sourceType.id == 1?3:9}}" autocomplete="off"
                        ng-change="vm.numberBlur(vm.requestForm.customerNumber)" name="customerNumber" ng-model="vm.requestForm.customerNumber">
                </md-input-container>
            </div>
            <div flex flex="100" layout="row" layout-align="space-between start ">
                <md-input-container flex="45">
                    <label>Müraciət edən</label>
                    <input required type="text" name="customerName" ng-model="vm.requestForm.customerName">
                </md-input-container>
                <md-input-container flex="45">
                    <label>Əlaqə nömrəsi</label>
                    <input type="text" name="contactNumber" ng-model="vm.requestForm.contactNumber">
                </md-input-container>
            </div>
            <div flex flex="100" layout="row" layout-align="space-between start ">
                <md-input-container flex="45">
                    <label>{{vm.typeRequest.name}}</label>
                    <md-select ms-scroll ng-change="vm.changeTypeRequest(vm.requestForm.customerRequestTypeId)" flex
                        required ng-model="vm.requestForm.customerRequestTypeId">
                        <md-option ng-repeat="type in vm.requestTypesFilter "
                            value="{{type.id}}">
                            {{type.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div flex="45" layout="row" layout-align="space-between start" class="date-container">
                    <label class="info-color" flex="40">Tarix/Vaxt</label>
                    <input required flex="60" mdc-datetime-picker date="true" class="md-input" time="true" type="text"
                        id="time" placeholder="Vaxt" show-todays-date format="DD.MM.YYYY HH:mm" ng-model="vm.requestForm.startDate">
                </div>
            </div>
            <div class="notes">
                <label>Qeyd</label>
                <text-angular ng-model="vm.requestForm.text"></text-angular>
            </div>
        </md-dialog-content>
        
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div flex layout="row" layout-align="space-between center">
                <choose-file layout-align="space-between center" layout="row" flex="50">
                    <input id="fileInput" type='file' ng-model='vm.requestFile' onload="vm.requestFileSelected"
                        base-sixty-four-input type="file" class="ng-hide">
                    <div flex="20">
                        <md-button ng-disabled="vm.requestForm.isProgress" id="uploadButton" class="md-icon-button"
                            aria-label="Attach file">
                            <md-icon md-font-icon="icon-paperclip"></md-icon>
                        </md-button>
                    </div>
                    <div flex> Ölçü: 4MB, Format: jpg,bmp,pdf,png,zip,rar </div>
                </choose-file>
                <div layout="row">
                    <md-checkbox ng-if="vm.sourceType.id == 1 || vm.sourceType.id==2" ng-model="vm.requestForm.createTask" aria-label="findByStatus">Tapşırıq
                        yarat</md-checkbox>
                    <md-button type="submit" ng-click="vm.saveRequest(vm.requestForm)" class="send-button md-accent md-raised"
                        ng-disabled="requestForm.$invalid || requestForm.$pristine || vm.requestForm.isProgress" aria-label="Saxla">
                        Əlavə et
                    </md-button>
                </div>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>

<!-- edit script -->
<script type="text/javascript">

$(document).ready(function() {


//AzerCell Begin
   $(document).on("click" , $("div.md-open-menu-container") , function(){

            console.log("On Change is working");
  
           if($("input[name = fromType]").val() === "Azercell"){

            console.log("Secilen Azercelldir");

            $("input[name = customerNumber]").css("display" , "none");
            $("input[name = customerNumber]").prev().css("display" , "none");

            $("div.md-ink-ripple").css("display" , "none");
             $("div.md-ink-ripple").next().css("display" , "none");

            $("input[name = contactNumber]").css("display" , "none");
            $("input[name = contactNumber]").prev().css("display" , "none");
         }

    })

//AzerCell End


});





</script>
<!-- edit script end -->
